@inject IConfiguration configuration
@using IntegrationBuilder.HuggingChatUtilities
@using IntegrationBuilder.SQLServerUtilities;
@using IntegrationBuilder.VannaAIUtilities;
@using Microsoft.EntityFrameworkCore
@using System.Text;
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Xamasoft.JsonClassGenerator
@inject DialogService DialogService
@inject IJSRuntime JS
@page "/main"


<RadzenProgressBar Value="@this._loadignBarValue" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
<RadzenTabs Change="OnChangeTab" TabPosition="@TabPosition.Right">
    <Tabs>
        <RadzenTabsItem Text="Connect/Train Vanna Model">
            <RadzenSteps Change=@OnChangeStep>
                <Steps>
                    <RadzenStepsItem Text="Connect To SQL Server">
                        <RadzenTemplateForm TItem="Credentials" Data=@_sqlServerCredentials Submit=@CheckConnection>

                            <RadzenFieldset Class="rz-color-secondary" Text="Connect To SQL Server">
                                <RadzenRow Gap="1rem" JustifyContent="JustifyContent.Center">
                                    <RadzenColumn Size="9" SizeMD="3">
                                        <RadzenStack>
                                            <RadzenLabel Component="Server" Text="Server" />
                                            <RadzenTextBox Name="Server" @bind-Value=@_sqlServerCredentials.Server />
                                            <RadzenRequiredValidator Component="Server" Text="Server is required!" />
                                        </RadzenStack>
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow Gap="1rem" JustifyContent="JustifyContent.Center">
                                    <RadzenColumn Size="9" SizeMD="3">
                                        <RadzenStack>
                                            <RadzenLabel Component="Database" Text="Database" Class="rz-info-light" />
                                            <RadzenTextBox Name="Database" @bind-Value=@_sqlServerCredentials.Database />
                                            <RadzenRequiredValidator Component="Database" Text="Database is required!" />
                                        </RadzenStack>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
                                    <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Medium" Icon="save" Text="Check Connection" />
                                </RadzenStack>
                                <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Center">
                                    <RadzenColumn Size="12" SizeMD="6">
                                        <RadzenCard>
                                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Info Log</RadzenText>
                                            <RadzenTextArea Disabled="true" @bind-Value=@_infomsgs class="w-100" />
                                        </RadzenCard>
                                    </RadzenColumn>
                                </RadzenRow>

                            </RadzenFieldset>
                        </RadzenTemplateForm>
                    </RadzenStepsItem>
                    <RadzenStepsItem Text="Create/Set Vanna AI Model" Disabled="@_DisabledStep2">
                        <RadzenTemplateForm TItem="VannaModel" Data=@this._vannaModel Submit=@CreateOrSetModel>

                            <RadzenFieldset Class="rz-color-secondary" Text="Create/Set Vanna AI Model">
                                <RadzenRow Gap="1rem" JustifyContent="JustifyContent.Center">
                                    <RadzenColumn Size="9" SizeMD="3">
                                        <RadzenStack>
                                            <RadzenLabel Component="ModelName" Text="Vanna model" />
                                            <RadzenTextBox Name="ModelName" @bind-Value=@_vannaModel.ModelName />
                                            <RadzenRequiredValidator Component="ModelName" Text="Vanna model is required!" />

                                            <div class="rz-p-4 rz-text-align-center">
                                                <RadzenCheckBox @bind-Value=@_vannaModel.NewModel Name="isNewModel" />
                                                <RadzenLabel Text="Create New Model" Component="isNewModel" Style="margin-left: 8px; vertical-align: middle;" />
                                            </div>
                                        </RadzenStack>
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
                                    <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Medium" Icon="save" Text="Create/Set Model" />
                                </RadzenStack>
                                <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Center">
                                    <RadzenColumn Size="12" SizeMD="6">
                                        <RadzenCard>
                                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Info Log</RadzenText>
                                            <RadzenTextArea Disabled="true" @bind-Value=@_infomsgs class="w-100" />
                                        </RadzenCard>
                                    </RadzenColumn>
                                </RadzenRow>

                            </RadzenFieldset>
                        </RadzenTemplateForm>
                    </RadzenStepsItem>
                    <RadzenStepsItem Text="Train Your Model" Disabled="@_DisabledStep3">
                        <RadzenCard>
                            @if ((this._allTables != null) && (_allViews != null))
                            {
                                <RadzenTabs TabPosition="@tabPosition" RenderMode="TabRenderMode.Client">
                                    <Tabs>
                                        <RadzenTabsItem Text="Train With Tables">
                                            <RadzenCard class="rz-background-color-base-900 rz-color-on-info-lighter rz-p-2">

                                                <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" class="mb-0">Train with Tables</RadzenText>

                                                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Train Model"
                                                              Click="@BtnTrainWithTables" Disabled=@((this._tableDDLDocumentations == null) || (this._tableDDLDocumentations.Count<1)) />

                                                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add Table Documentation"
                                                              Click="@InsertRowTable" Disabled=@(this._tableDocumentationToInsert != null || this._tableDocumentationToUpdate != null) />


                                                <RadzenDataGrid @ref="_tableDDLDocumentationsGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true"
                                                                PageSize="3" AllowSorting="true" EditMode="DataGridEditMode.Single" FilterMode="FilterMode.Advanced"
                                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                                Data="@_tableDDLDocumentations" TItem="DDLDocumentation" RowUpdate="@OnUpdateRowTables"
                                                                RowCreate="@OnCreateRowTables" Sort="@ResetTableGenVars" Page="@ResetTableGenVars" Filter="@ResetTableGenVars"
                                                                class="rz-background-color-base-900 rz-color-on-info-lighter rz-p-2">

                                                    <Columns>
                                                        <RadzenDataGridColumn TItem="DDLDocumentation" Property="name" Title="Table Name" Width="20%">

                                                            <EditTemplate Context="tname">
                                                                <RadzenDropDownDataGrid @bind-Value=@tname.name Data=@this._allTables
                                                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive "
                                                                                        AllowClear=true Placeholder="Select Table" AllowFiltering="true" Chips="true" PageSize="4" ShowPagingSummary="true"
                                                                                        class="rz-background-color-base-200 rz-color-on-info-lighter">

                                                                </RadzenDropDownDataGrid>
                                                            </EditTemplate>
                                                        </RadzenDataGridColumn>
                                                        <RadzenDataGridColumn TItem="DDLDocumentation" Property="documentation" Title="documentation" Width="60%">
                                                            <Template Context="data">
                                                                <RadzenTextArea ReadOnly="@((this._tableDocumentationToUpdate == null) && (this._tableDocumentationToInsert == null))" @bind-Value="@data.documentation" Style="width: 100%;" />
                                                            </Template>
                                                        </RadzenDataGridColumn>

                                                        <RadzenDataGridColumn TItem="DDLDocumentation" Context="doc" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                            <Template Context="doc">
                                                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRowTables(doc))" @onclick:stopPropagation="true">
                                                                </RadzenButton>
                                                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRowTables(doc))" @onclick:stopPropagation="true">
                                                                </RadzenButton>
                                                            </Template>
                                                            <EditTemplate Context="doc">
                                                                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRowTables(doc))">
                                                                </RadzenButton>
                                                                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEditTables(doc))">
                                                                </RadzenButton>
                                                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRowTables(doc))">
                                                                </RadzenButton>
                                                            </EditTemplate>
                                                        </RadzenDataGridColumn>
                                                    </Columns>
                                                </RadzenDataGrid>
                                            </RadzenCard>
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Text="Train With Views">
                                            <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" class="mb-0">Train With Views</RadzenText>

                                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Train Model"
                                                          Click="@BtnTrainWithViews" Disabled=@((this._viewDDLDocumentations == null) || (this._viewDDLDocumentations.Count<1)) />

                                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add View Documentation"
                                                          Click="@InsertRowView" Disabled=@(this._viewDocumentationToInsert != null || this._viewDocumentationToUpdate != null) />


                                            <RadzenDataGrid @ref="_viewDDLDocumentationsGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true"
                                                            PageSize="3" AllowSorting="true" EditMode="DataGridEditMode.Single" FilterMode="FilterMode.Advanced"
                                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                            Data="@_viewDDLDocumentations" TItem="DDLDocumentation" RowUpdate="@OnUpdateRowViews"
                                                            RowCreate="@OnCreateRowViews" Sort="@ResetViewGenVars" Page="@ResetViewGenVars" Filter="@ResetViewGenVars"
                                                            class="rz-background-color-base-900 rz-color-on-info-lighter rz-p-2">

                                                <Columns>
                                                    <RadzenDataGridColumn TItem="DDLDocumentation" Property="name" Title="Table Name" Width="20%">

                                                        <EditTemplate Context="tname">
                                                            <RadzenDropDownDataGrid @bind-Value=@tname.name Data=@this._allViews
                                                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                                                    AllowClear=true Placeholder="Select View" AllowFiltering="true" Chips="true" PageSize="4" ShowPagingSummary="true"
                                                                                    class="rz-background-color-base-200 rz-color-on-info-lighter">

                                                            </RadzenDropDownDataGrid>
                                                        </EditTemplate>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="DDLDocumentation" Property="documentation" Title="documentation" Width="60%">
                                                        <Template Context="data">
                                                            <RadzenTextArea ReadOnly="@((this._viewDocumentationToUpdate == null) && (this._viewDocumentationToInsert  == null))" @bind-Value="@data.documentation" Style="width: 100%;" />
                                                        </Template>
                                                    </RadzenDataGridColumn>

                                                    <RadzenDataGridColumn TItem="DDLDocumentation" Context="doc" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                        <Template Context="doc">
                                                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRowViews(doc))" @onclick:stopPropagation="true">
                                                            </RadzenButton>
                                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRowViews(doc))" @onclick:stopPropagation="true">
                                                            </RadzenButton>
                                                        </Template>
                                                        <EditTemplate Context="doc">
                                                            <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRowViews(doc))">
                                                            </RadzenButton>
                                                            <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEditViews(doc))">
                                                            </RadzenButton>
                                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRowViews(doc))">
                                                            </RadzenButton>
                                                        </EditTemplate>
                                                    </RadzenDataGridColumn>
                                                </Columns>
                                            </RadzenDataGrid>
                                            <RadzenCard>
                                            </RadzenCard>
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Text="Train With SQL">

                                            <RadzenCard>
                                                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Train Model"
                                                              Click="@BtnTrainWithSQL" />

                                                <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" class="mb-0">Train With SQL</RadzenText>
                                                <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Left">
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenCard>
                                                            <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">SQL Query</RadzenText>
                                                            <RadzenTextArea Rows="10" @bind-Value=@_sqlStatementForTrain class="w-100" />
                                                        </RadzenCard>
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenCard>
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Text="Train With Documentation">
                                            <RadzenCard>
                                                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Train Model"
                                                              Click="@BtnTrainWithDocumentation" />

                                                <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" class="mb-0">Train With Documentation</RadzenText>
                                                <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Left">
                                                    <RadzenColumn Size="12" SizeMD="8">
                                                        <RadzenCard>
                                                            <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">Documentation</RadzenText>
                                                            <RadzenTextArea Rows="10" @bind-Value=@_documentationForTrain class="w-100" />
                                                        </RadzenCard>
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenCard>
                                        </RadzenTabsItem>

                                    </Tabs>
                                </RadzenTabs>
                            }
                            <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeMD="6">
                                    <RadzenCard>
                                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Info Log</RadzenText>
                                        <RadzenTextArea Rows="5" Disabled="true" @bind-Value=@_infomsgs class="w-100" />
                                    </RadzenCard>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenCard>
                    </RadzenStepsItem>
                    <RadzenStepsItem Text="Ask Questions" Disabled="@_DisabledStep4">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" class="mb-0">Ask Questions</RadzenText>
                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Ask Vanna"
                                          Click="@BtnAskVanna" />
                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Disabled="@((string.IsNullOrEmpty(this._vannaResponse))  || (!string.IsNullOrEmpty(this._savedQuery)) )" Icon="done_all" class="mt-2 mb-4" Text="Save Query"
                                          Click="@BtnSaveQuery" />
                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Disabled="@(string.IsNullOrEmpty(this._savedQuery))" Icon="pageview" class="mt-2 mb-4" Text="Preview/Change saved Query"
                                          Click="@BtnShowSavedQuery" />
                            <RadzenColumn Size="12" SizeMD="12">
                                <RadzenRow Gap="6rem" JustifyContent="JustifyContent.Center">

                                    <RadzenCard Style="width=40%">
                                        <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">User Question</RadzenText>
                                        <RadzenTextArea Cols="80" Rows="17" @bind-Value=@_userQuestion />
                                    </RadzenCard>

                                    @* User can not modify query from main page after save *@
                                    <RadzenCard Style="width=40%">
                                        <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">Vanna Response</RadzenText>
                                        <RadzenTextArea ReadOnly="@(!string.IsNullOrEmpty(this._savedQuery))" Cols="80" Rows="17" @bind-Value=@_vannaResponse />
                                    </RadzenCard>
                                </RadzenRow>
                            </RadzenColumn>
                            <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Center">
                                <RadzenColumn Size="12" SizeMD="6">
                                    <RadzenCard>
                                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Info Log</RadzenText>
                                        <RadzenTextArea Rows="4" Disabled="true" @bind-Value=@_infomsgs class="w-100" />
                                    </RadzenCard>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenCard>
                    </RadzenStepsItem>
                </Steps>
            </RadzenSteps>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Get Classes from Json" Disabled="@(string.IsNullOrEmpty(this._savedQuery))">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" class="mb-0">Create c# classes</RadzenText>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Get Classes"
                              Click="@GetClasses" />
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Disabled="@((string.IsNullOrEmpty(this._cSharpClasses))  || (!string.IsNullOrEmpty(this._savedCSharpClasses)) )" Icon="done_all" class="mt-2 mb-4" Text="Save C# Classes"
                              Click="@BtnSaveCSharpClasses"/>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Disabled="@(string.IsNullOrEmpty(this._savedCSharpClasses))" Icon="pageview" class="mt-2 mb-4" Text="Preview/Change saved Classes"
                              Click="@BtnShowCSharpClasses" />

                <RadzenColumn Size="12" SizeMD="12">
                    <RadzenRow Gap="6rem" JustifyContent="JustifyContent.Center">

                        <RadzenCard Style="width=40%">
                            <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">Json Input</RadzenText>
                            <RadzenTextArea Cols="80" Rows="17" @bind-Value=@_inputJson />
                        </RadzenCard>

                        <RadzenCard Style="width=40%">
                            <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">C# Classes</RadzenText>
                            <RadzenTextArea Cols="80" ReadOnly="@(!string.IsNullOrEmpty(this._savedCSharpClasses))" Rows="17" @bind-Value=@_cSharpClasses />
                        </RadzenCard>
                    </RadzenRow>
                </RadzenColumn>
                <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Center">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Info Log</RadzenText>
                            <RadzenTextArea Rows="4" Disabled="true" @bind-Value=@_infomsgs class="w-100" />
                        </RadzenCard>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Create mapping" Disabled="@(string.IsNullOrEmpty(this._savedCSharpClasses))">
            @* string.IsNullOrEmpty(this._savedCSharpClasses)) *@
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" class="mb-0">Create Mapping</RadzenText>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Create Mapping"
                              Click="@BtnCreateMapping" />
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="DownloadProject"
                              Click="@BtnDownloadProject" />

                <RadzenSplitter Orientation="Orientation.Vertical">
                    <RadzenSplitterPane>
                        <RadzenSplitter>
                            <RadzenSplitterPane>
                                <RadzenSteps>
                                    <Steps>
                                        <RadzenStepsItem Text="Set Query">
                                            <RadzenColumn Size="12" SizeMD="12">
                                                <RadzenRow Gap="6rem" JustifyContent="JustifyContent.Left">

                                                    <RadzenCard Style="width=30%">
                                                        <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">Query</RadzenText>
                                                        <RadzenTextArea Cols="110" Rows="16" @bind-Value=@_query />
                                                    </RadzenCard>
                                                </RadzenRow>
                                            </RadzenColumn>
                                        </RadzenStepsItem>
                                        <RadzenStepsItem Text="Set Object Class">
                                            <RadzenColumn Size="12" SizeMD="12">
                                                <RadzenRow Gap="6rem" JustifyContent="JustifyContent.Left">
                                                    <RadzenCard Style="width=30%">
                                                        <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">Object Class</RadzenText>
                                                        <RadzenTextArea Cols="110" Rows="16" @bind-Value=@_objClassStr />
                                                    </RadzenCard>
                                                </RadzenRow>
                                            </RadzenColumn>
                                        </RadzenStepsItem>
                                        <RadzenStepsItem Text="Describe Mapping">
                                            <RadzenColumn Size="12" SizeMD="12">
                                                <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Left">
                                                    <RadzenCard Style="width=30%">
                                                        <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">Describe Mapping</RadzenText>
                                                        <RadzenTextArea Cols="110" Rows="16" @bind-Value=@_mappingDesc />
                                                    </RadzenCard>
                                                </RadzenRow>
                                            </RadzenColumn>
                                        </RadzenStepsItem>
                                    </Steps>
                                </RadzenSteps>
                            </RadzenSplitterPane>
                            <RadzenSplitterPane>
                                <RadzenColumn Size="12" SizeMD="12">
                                    <RadzenRow Gap="6rem" JustifyContent="JustifyContent.Left">
                                        <RadzenCard Style="width=30%">
                                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Result Class</RadzenText>
                                            <RadzenTextArea Cols="110" Rows="20" @bind-Value=@_resultClass />
                                        </RadzenCard>
                                    </RadzenRow>
                                </RadzenColumn>
                                <RadzenCard>

                                </RadzenCard>
                            </RadzenSplitterPane>
                        </RadzenSplitter>
                    </RadzenSplitterPane>
                </RadzenSplitter>

                <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Center">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Info Log</RadzenText>
                            <RadzenTextArea Rows="4" Disabled="true" @bind-Value=@_infomsgs class="w-100" />
                        </RadzenCard>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@* Js for file download*@
<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) => {
        const arrayBuffer = await contentStreamReference.arrayBuffer();
        const blob = new Blob([arrayBuffer]);
        const url = URL.createObjectURL(blob);
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
        anchorElement.remove();
        URL.revokeObjectURL(url);
    }
</script>

@code
{
        async Task ShowQueryPopup()
        {
            var result = await DialogService.OpenAsync("Query", ds =>
    @<RadzenStack Gap="1.5rem">
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenCard>
                    <RadzenCard Style="width=40%">
                        <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">Query</RadzenText>
                        <RadzenTextArea Cols="80" Rows="17" @bind-Value=@_savedQuery Change="RefreshPopup" />
                    </RadzenCard>
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Clear"
                                  Click="@BtnClearSavedQuery" Disabled="@(string.IsNullOrEmpty(this._savedQuery))" />
                    <RadzenButton Text="Exit" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenCard>
                
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    , new DialogOptions() { Width = $"{50}%", Height = $"{70}%" });
    }

    private void RefreshPopup()
    {
        //if (!string.IsNullOrEmpty(this._savedQuery)) { return; }
        this.DialogService.Refresh();
    }

}

@code
{
    async Task ShowCSharpClasses()
    {
        var result = await DialogService.OpenAsync("Query", ds =>
    @<RadzenStack Gap="1.5rem">
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenCard>
                    <RadzenCard Style="width=40%">
                        <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">C# Classes</RadzenText>
                        <RadzenTextArea Cols="80" Rows="17" @bind-Value=@_savedCSharpClasses Change="RefreshPopupClasses" />
                    </RadzenCard>
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Clear"
                                  Click="@BtnClearSavedClasses" Disabled="@(string.IsNullOrEmpty( this._savedCSharpClasses))" />
                    <RadzenButton Text="Exit" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenCard>
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    , new DialogOptions() { Width = $"{50}%", Height = $"{70}%" });
    }

    private void RefreshPopupClasses()
    {
        //if (!string.IsNullOrEmpty(this._savedQuery)) { return; }
        this.DialogService.Refresh();
    }

}








